.Component_Links {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.Component_Links>a {
    position: relative;
    aspect-ratio: 10/7;

    background-color: var(--global-secondary-bg);
    border: 0.5px solid var(--color-border-tertiary);
    border-radius: var(--border-radius-lg);

    display: flex;
    flex-direction: column;
    gap: 5px;

    align-items: center;
    justify-content: center;

    transition: all .3s;
}

.Component_Links>a:hover {
    background-color: var(--primary-accent-bg);
    color: var(--primary-accent);
}

.Component_Links>a:hover>img {
    filter: grayscale(0);
}

.Component_Links>a>img {
    margin: 0px;

    width: 30px;
    aspect-ratio: 1/1;

    filter: grayscale(100%);
}