.Modal_EditLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;

    transition: all .2s;
}

.Modal_EditLinks>h2 {
    text-align: center;
}

.Modal_EditLinks>span {
    color: red;

    padding: 15px;

    background-color: var(--global-secondary-bg);
    border: 0.5px solid var(--color-border-tertiary);
    border-radius: var(--border-radius-lg);

    text-align: center;
}

.Modal_EditLinks_Container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 500px;
    max-height: 500px;
    overflow-y: scroll;
}

.Modal_EditLinks_Entry {
    padding: 15px;

    background-color: var(--global-secondary-bg);
    border: 0.5px solid var(--color-border-tertiary);
    border-radius: var(--border-radius-lg);

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Modal_EditLinks_Entry>div {
    display: grid;
    grid-template-columns: 75px 1fr;
}

.Modal_EditLinks_Entry>div>input {
    outline: none;
    border: 0.5px solid var(--color-border-tertiary);
    border-radius: var(--border-radius-lg);

    padding: 5px 5px;
}

.Modal_EditLinks_Entry>button {
    margin-left: auto;
    width: 100px;

    padding: 5px 15px;

    background-color: rgb(186, 30, 30);
    border: 0.5px solid var(--color-border-tertiary);
    border-radius: var(--border-radius-lg);

    cursor: pointer;
}


.Modal_EditLinks_Controls {
    display: flex;
    gap: 5px;
    margin-left: auto;
}

.Modal_EditLinks_Controls>button {
    cursor: pointer;
    padding: 5px 15px;
    width: 60px;

    background-color: var(--global-secondary-bg);
    border: 0.5px solid var(--color-border-tertiary);
    border-radius: var(--border-radius-lg);
}